* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100;
  overflow-x: hidden;
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 20px 0;
  background: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.nav-links ul,
li {
  display: flex;
  list-style: none;
  font-style: 5 rem;
}
.nav-links a {
  text-decoration: none;
  color: black;
}
.nav-link {
  margin: 1.5rem;
  font-size: 1.5rem;
}
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
#check {
  display: none;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8rem;
  /* margin: 2rem; */
}
.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 40px; */
}

.home-title {
  font-size: 48px;
  font-weight: bold;
  color: #6A3D2A;
}

.home-text {
  font-size: 18px;
  max-width: 400px;
  line-height: 2.5;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  background-color: #6A3D2A;
  color: white;
  text-decoration: none;
  font-weight: 500;
  /* border-radius: 15px; */
  margin-bottom: 10px;
}
.socials {
  max-width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-left: 0px;
}
.home-image-container img {
  width: 100%;
  max-width: 800px;
  object-fit: cover;
  border-radius: 20px;
}

.socials img {
  width: 20px;
  margin: 10px;
}

.service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 2rem; */
  padding: 2.5rem;
  width: 100%;
  gap: 8rem;
}
.service-text-container {
  /* flex: 1; */
  justify-content: center;
  align-items: center;
}

.service-title {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.service-text {
  max-width: 400px;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 30px;
}

.service-icons-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.service-item {
  flex: 1 1 45%;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 2rem;
  height:20rem;
  text-align: center;
}

.service-item img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin-bottom: 15px;
}

.service-item h1 {
  font-size: 1rem;
  /* margin-bottom: 5px; */
}

.service-item p {
  margin: 1rem;
  font-size: 1rem;
  color: #555;
}

.city-container {
  width: 100%;
  text-align: center;
  /* margin: 2rem; */
  padding: 2rem;
}

.find-us h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.find-us p {
  font-size: 25px;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto 50px;
  color: #555;
}

.list-of-cities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
}

.city-item {
  margin: 1rem;
  /* padding: 1rem; */
  border: 0.5px solid gray;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.city-item img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.city-item h2 {
  font-size: 18px;
  padding: 15px;
  color: #black;
}

.menu-container {
  /* max-width: 1300px; */
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.menu-text-container h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu-text-container p {
  font-size: 18px;
  line-height: 2;
  max-width: 700px;
  margin: 0 auto 20px;
  color: #555;
}

.menu-text-container h4 {
  color: brown;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 50px;
}

.menu-text-container h4:hover {
  color: red;
}

.menu-img-container {
  margin: 1rem;
  padding: 1rem;
  background-color: #F6EDE0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.menu-item {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding-bottom: 20px;
}

.menu-item img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu-item h2 {
  font-size: 18px;
  margin-top: 15px;
  color: #333;
}

.menu-item span {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  color: brown;
  font-size: 16px;
}

.rev-container {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/bg-image.png);
  padding-top: 72px;
  padding-bottom: 194px;
}
.review-box {
  justify-content: center;
  align-items: center;
}
.review-box img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 10px 10px grey;
}
.review-box h4 {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.review-text {
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}
.review-text p{
  font-size: 2rem;
}
.stars {
  color: gold;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  line-height: 2;
  font-size: 20px;
}

.footer-left a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
}

.footer-low {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@media (max-width: 1024px) {
  .nav-link {
    margin: 10px;
  }
  .home-container,
  .service-container,
  .rev-container {
    padding: 20px;
    gap: 30px;
  }
  .home-image-container {
    width: 60%;
    padding: 2rem;
  }
  .home-image-container img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
  }
  .service-container {
    padding: 20px;
  }

  .service-icons-container {
    margin-top: 5rem;
    padding: 1rem;
    height: 30%;
  }

  .service-item {
    padding: 1rem;
    height: 15rem;
    text-align: center;
  }

  .service-item img {
    margin: 0;
    width: 40%;
    object-fit: contain;
  }

  .service-item h1 {
    font-size: 1rem;
  }

  .service-item p {
    font-size: 0.7rem;
    color: #555;
  }

  .city-item {
    margin: 1rem;
    /* padding: 1rem; */
    border: 0.5px solid gray;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
  }

  .menu-img-container {
    margin: 2rem;
  }

  .menu-item {
    padding: 1rem;
  }
  .footer-low {
    margin: 20px;
  }
}
@media (max-width: 992px) {
  .nav-link {
    margin: 10px;
  }

  .home-container,
  .service-container,
  .rev-container {
    padding: 20px;
    gap: 30px;
  }

  .home-image-container {
    width: 60%;
  }

  .service-container {
    padding: 20px;
  }
  .service-icons-container {
    padding: 30px;
    height: 30%;
  }

  .service-item {
    padding: 1rem;
    height: 15rem;
    text-align: center;
  }

  .service-item img {
    margin: 0;
    width: 40%;
    object-fit: contain;
  }

  .service-item h1 {
    font-size: 1rem;
  }

  .service-item p {
    font-size: 0.7rem;
    color: #555;
  }

  .city-item {
    margin: 1rem;
    /* padding: 1rem; */
    border: 0.5px solid gray;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
  }

  .menu-img-container {
    margin: 2rem;
  }

  .menu-item {
    padding: 1rem;
  }
  .footer-low {
    margin: 20px;
  }
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background: rgb(217, 127, 113);
    border-radius: 10px;
    padding: 20px;
  }
  .home-container,
  .service-container,
  .rev-container {
    padding: 0px;
    gap: 0px;
  }
  #check {
    display: none;
  }
  .hamburger {
    display: block;
  }

  #check:checked ~ .nav-links {
    display: block;
  }
  .nav-links ul {
    flex-direction: column;
    gap: 20px;
  }

  .navbar {
    justify-content: flex-end;
    padding: 20px;
  }

  .home-container,
  .service-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-image-container {
    width: 100%;
    max-width: 90%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }

  .home-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .service-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
  }

  .service-icons-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .service-item {
    width: 80%;
    background-color: #f9f9f9;
    border-radius: 10px;
    height: 250px;
    text-align: center;
  }

  .service-item img {
    width: 80px;
    height: 80px;
  }

  .service-item h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .service-item p {
    margin: 20px;
    font-size: 16px;
    color: #555;
  }

  .find-us {
    margin: 20px;
  }

  .list-of-cities {
    margin: 30px;
  }
  .menu-text-container {
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin: 10px;
    padding: auto;
    align-items: center;
    justify-content: center;
  }

  .menu-item {
    background: white;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding-bottom: 20px;
  }

  .menu-item img {
    width: 80%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .rev-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .footer-left a {
    text-decoration: none;
    color: black;
  }
  .footer-right {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    grid-column: 1 / 3;
  }

  .footer-low {
    overflow: hidden;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
    background: rgb(217, 127, 113);
    position: absolute;
    line-height: 2;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
  }
  /* .home-container,
  .service-container,
  .rev-container {
    padding: 20px;
    gap: 30px;
  } */
  #check {
    display: none;
  }
  nav #check:checked ~ .nav-links {
    display: block;
  }

  .home-container {
    margin:0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-image-container {
    max-width: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }

  .home-image-container img {
  }
  .home-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .service-container {
    margin: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .service-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 15px; */
  }

  .service-icons-container {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .service-item {
    width: 80%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 12px;
    height: 250px;
    text-align: center;
  }

  .service-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
  }

  .service-item h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .service-item p {
    margin: 20px;
    font-size: 16px;
    color: #555;
  }

  .find-us {
    margin: 20px;
  }

  .list-of-cities {
    margin: 30px;
  }
  .menu-text-container {
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin: 10px;
    padding: auto;
    align-items: center;
    justify-content: center;
  }

  .menu-item {
    background: white;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding-bottom: 20px;
  }

  .menu-item img {
    width: 80%;
    object-fit: cover;
    border-radius: 20px;
    /* border-top-right-radius: 20px; */
  }

  .rev-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .review-text p {
    font-size: 1rem;
}
  .footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.8;
    font-size: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-left a {
    text-decoration: none;
    color: black;
  }
  .footer-right {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    grid-column: 1 / 3;
  }

  .footer-low {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}
